<%= link_to house_path(house.id) do %>
  <div class="col-md-4 zoom">
    <% if house.photo.attached? %>
      <%= cl_image_tag house.photo.key, alt: 'Maison des horreurs', class: 'property-image' %>
    <% else %>
      <%= image_tag("fantome.png") %>
    <% end %>
    <h2><%= house.name %></h2>

    <div class="rating">
      <%= image_tag 'citrouille-pleine.png', alt: 'Citrouille pleine'%>
      <%= image_tag 'citrouille-pleine.png', alt: 'Citrouille pleine'%>
      <%= image_tag 'citrouille-pleine.png', alt: 'Citrouille pleine'%>
      <%= image_tag 'citrouille-pleine.png', alt: 'Citrouille pleine'%>
      <%= image_tag 'citrouille-vide.png', alt: 'Citrouille vide'%>
    </div>

    <p>Prix: <strong><%= house.price %>€</strong></p>
  </div>
<% end %>
