<h1>Create a new house</h1>
<h1>New Rent</h1>

<%= simple_form_for [@house] do |f| %>
  <%= f.input :name, required: true%>
  <%= f.input :description, required: true %>
  <%= f.input :address, required: true %>
  <%= f.input :superficy, required: true %>
  <%= f.input :price, required: true %>
  <%= f.input :photos_url, required: true %>
  <%= f.submit "Submit rent", class: "btn btn-primary" %>
<% end %>

<%= link_to "Go to home page", '/houses'%>
