<div id='show-page'>
  <div id='show-elements'>

    <table border="4">
    <tbody>
    <tr>

    <td>&nbsp;
      <div class='container photo-du-bien'>
        <%= cl_image_tag @house.photo.key, alt: 'Photo du bien', class: 'property-image' %>
      </div>
    </td>

    </tr>
    <tr>
    <td>&nbsp;

    <div class='texte-carte-show'>
      <h2>Informations sur le bien</h2>
      <br>

      <h3><%=@house.name%></h3>

      <p> <em>Description:</em> <%=@house.description%></p>

      <p> <em>Adresse:</em> <%=@house.address%><p>

      <p> <em>Superficie:</em> <%=@house.superficy%> m²<p>

      <p> <em>Propriétaire:</em> <%="#{@house.owner.first_name} #{@house.owner.last_name} #{@house.owner.phone_number}" %><p>

      <p> <em>Prix:</em> <b><%=@house.price%> €</b><p>
      <br>

      <% if current_user == nil %>
        <%= link_to "<button class='btn btn-secondary' id='btn-louez-ce-bien'>Louer ce bien</button>".html_safe, new_user_registration_path %>
      <% elsif current_user != @house.owner %>
        <%= link_to "<button class='btn btn-secondary' id='btn-louez-ce-bien'>Louer ce bien</button>".html_safe, new_booking_path %>
      <% end %>
      <br>

    </div>
    </td>
    </tr>
    </tbody>
    </table>

  </div>

</div>
