<h1>Haunted house details</h1>
<p></p>
<h2><%=@house.name%></h2>
<p> Description: <%=@house.description%></p>
<p> Address: <%=@house.address%><p>
<p> Superficy: <%=@house.superficy%><p>
<p> Price: <%=@house.price%><p>
<p> Propriétaire: <%="#{@house.owner.first_name} #{@house.owner.last_name} #{@house.owner.phone_number}" %><p>

<%= link_to "LOUER CETTE MAISON", new_booking_path if current_user != @house.owner %>

<%= link_to "VISUALISER SUR LA MAP", dracula_path  %>
