<h1>Haunted house details</h1>
<p></p>
<h2><%=@houses.name%></h2>
<p> Description: <%=@houses.description%></p>
<p> Address: <%=@houses.address%><p>
<p> Superficy: <%=@houses.superficy%><p>
<p> Price: <%=@houses.price%><p>
<p> Rating: <%=@houses.rating%><p>

<%= link_to "Louer cette maison!", new_booking_path %>
<%# <%= link_to "Supprimer cette maison!", house_path(@house), data: { "turbo-method": :delete } %> %>
