  <div class="search-container">
    <div class="search-input">
      <input type="text" placeholder="Recherche">
        <a href="#" class="search-button">
         <%= image_tag "bouton-recherche.svg", alt: "Bouton recherche", class: "btn-search" %>
        </a>
        <div class="search-filters" style="margin-right: 16px;">
        </div>
  </div>
    <div class="search-filters">
      <select>
        <option value="Lyon">Lyon</option>
        <option value="Paris">Paris</option>
        <option value="Nice">Nice</option>
      </select>
      <label>
        <input type="checkbox" value="vue-cimetiere">
        Vue sur cimetière
      </label>
      <label>
        <input type="checkbox" value="eclairage-bougie">
        Éclairage à la bougie
      </label>
      <label>
        <input type="checkbox" value="sol-qui-grince">
        Sol qui grince
      </label>
  </div>
</header>

<main>
<div class="container">
  <div class="row">
    <% @houses.each do |house| %>
        <div class="col-md-4">
      <%= link_to house_path(house.id) do %>
          <%= image_tag '860_maison-hantee.jpg', alt: 'Maison des horreurs', class: 'property-image' %>
          <h2><%= house.name %></h2>
          <p>Note: <%= house.rating %>/5</p>
          <p>Prix: <%= house.price %> €</p>
      <% end %>
        </div>
    <% end %>
  </div>
</div>
</main>
