  <div class="search-container centered-body-elements">
    <div class="search-input">
      <input type="text" placeholder="Recherche">
        <a href="#" class="search-button">
         <%= image_tag "bouton-recherche.svg", alt: "Bouton recherche", class: "btn-search" %>
        </a>
        <div class="search-filters" style="margin-right: 16px;">
        </div>
  </div>
    <div class="search-filters">
      <select>
        <option value="Lyon">Lyon</option>
        <option value="Paris">Paris</option>
        <option value="Nice">Nice</option>
      </select>
      <label>
        <input type="checkbox" value="vue-cimetiere">
        Vue sur cimetière
      </label>
      <label>
        <input type="checkbox" value="eclairage-bougie">
        Éclairage à la bougie
      </label>
      <label>
        <input type="checkbox" value="sol-qui-grince">
        Sol qui grince
      </label>
      <label>
        <input type="checkbox" value="hurlements">
        Hurlements
      </label>
  </div>
</header>

<div class ="centered-body-elements">

  <main>
    <div class="row">
      <div class="col-md-4 zoom">
        <%# remplacer le tem link par link_to property_path(ID DU BIEN) %>
        <%= link_to "#temp_link_1" do %>
          <%= image_tag 'villa-3237114_1920', alt: 'Villa hantée', class: 'property-image' %>
          <h2>Titre du bien 1</h2>
          <p>Note: 4.5/5</p>
          <p>Prix: <strong>300€</strong></p>
        <% end %>
      </div>
      <div class="col-md-4 zoom">
        <%= link_to "#temp_link_2" do %>
        <%= image_tag 'manoir-hante-2023.jpg', alt: 'Manoir hanté', class: 'property-image' %>
        <h2>Titre du bien 2</h2>
        <p>Note: 4.2/5</p>
        <p>Prix: <strong>280€</strong></p>
        <% end %>
      </div>
      <div class="col-md-4 zoom">
        <%= link_to "#temp_link_3" do %>
        <%= image_tag 'maison-des-horreurs', alt: 'Maison des horreurs', class: 'property-image' %>
        <h2>Titre du bien 3</h2>
        <p>Note: 3.9/5</p>
        <p>Prix: <strong>380€</strong></p>
        <% end %>
      </div>
      <div class="col-md-4 zoom">
        <%= link_to "#temp_link_4" do %>
        <%= image_tag '860_maison-hantee', alt: 'Maison hantée', class: 'property-image' %>
        <h2>Titre du bien 4</h2>
        <p>Note: 4.3/5</p>
        <p>Prix: <strong>460€</strong></p>
        <% end %>
      </div>
      <div class="col-md-4 zoom">
        <%= link_to "#temp_link_5" do %>
        <%= image_tag 'dracula chateau 3947', alt: 'Chateau Dracula', class: 'property-image' %>
        <h2>Titre du bien 5</h2>
        <p>Note: 4.9/5</p>
        <p>Prix: <strong>999€</strong></p>
        <% end %>
      </div>
      <div class="col-md-4 zoom">
        <%= link_to "#temp_link_6" do %>
        <%= image_tag 'devil-house', alt: 'Maison diabolique', class: 'property-image' %>
        <h2>Titre du bien 6</h2>
        <p>Note: 4.6/5</p>
        <p>Prix: <strong>666€</strong></p>
        <% end %>
      </div>
      <!-- Ajouter les autres biens avec la même structure -->
    </div>
  </main>

  <br>
  <div class ='animated-text'>
    <div class="g-container">
      <div class="word">Your</div>
      <div class="word">Worst</div>
      <div class="word">Holidays</div>
    </div>
  </div>

</div>

