<h1>Your Dashboard</h1>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-left gap-3">
      <div class="column">
        <p><%= current_user.last_name %></p>
      </div>
      <div class="column">
        <p><%= current_user.first_name %></p>
      </div>
      <div class="column">
        <p><%= current_user.email %></p>
      </div>
      <div class="column">
        <% if current_user.houses.first != nil  %>
          <p><%= current_user.houses.first.name %></p>
        <% end %>
      </div>
    </div>
  </div>
<h2><%= current_user.avatar %></h2>
</div>
<%= link_to "RENT YOUR HOUSE", new_house_path%>
