<h1>Your Dashboard</h1>
<div class="container">
  <div class="row">
    <div class="d-flex justify-content-left gap-3">
      <div class="column">
        <p>- Mes infos -</p>
        <p><%= current_user.avatar %></p>
        <p><%= current_user.first_name %></p>
        <p><%= current_user.last_name %></p>
        <p><%= current_user.email %></p>
        <%= link_to "MODIFIER MON PROFIL", edit_user_registration_path %>
      <div class="column">
        <p>----------------------------------------</p>
      <div class="column">
        <p>- Mes maisons -</p>
        <% current_user.houses.each do |house| %>
         <% if house.photo.attached? %>
              <%= cl_image_tag house.photo.key, alt: 'Maison des horreurs', class: 'property-image' %>
            <% else %>
              <%= image_tag("citrouille.png") %>
            <% end %>
          <p><%= house.name %></p>
          <p></p>
          <%= link_to "MODIFIE UNE MAISON", edit_house_path(house) %>
          <p></p>
          <%= link_to "SUPPRIME TA MAISON", delete_house_path(house), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%>
        <% end%>
        <p></p>
          <%= link_to "AJOUTE UNE MAISON", new_house_path%>
        <p>----------------------------------------</p>

      <div class="column">
        <p>- Mes Réservations -</p>
         <% current_user.bookings.each do |booking| %>
          <% if booking.house.photo.attached? %>
              <%= cl_image_tag booking.house.photo.key, alt: 'Maison des horreurs', class: 'property-image' %>
            <% else %>
              <%= image_tag("citrouille.png") %>
            <% end %>
          <p>Nom: <%= booking.house.name %></p>
          <p>Date: <%= booking.date %></p>
          <p>Propriétaire: <%="#{booking.house.owner.first_name} #{booking.house.owner.last_name}" %><p>
          <p>Téléphone: <%= "#{booking.house.owner.phone_number}" %></p>
        <% end%>
      </div>
  </div>
</div>
<% console %>
