<style>
body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 232px;
}
</style>

<div class="dashboard-container">
  <h2>Dashboard</h2>

  <div class="dashboard-bar">
    <p><strong>Mes infos</strong></p>
    <p><%= current_user.avatar %></p>
    <p><%= current_user.first_name %></p>
    <p><%= current_user.last_name %></p>
    <p><%= current_user.email %></p>
    <a href="<%= edit_user_registration_path %>" class="btnProfil btn-primary", id="btn-modif-profil">Modifier mon profil</a>
  </div>

  <div class="dashboard-grid">
    <div class="columnProfil">
      <p>Mes maisons :</p>
      <% current_user.houses.each do |house| %>
        <div class="property-cell">
          <% if house.photo.attached? %>
            <%= cl_image_tag house.photo.key, alt: 'Maison des horreurs', class: 'property-image' %>
          <% else %>
            <%= image_tag("fantome.png") %>
          <% end %>
          <p><h3><%= house.name %></h3></p>
          <p></p>
          <a href="<%= edit_house_path(house) %>" class="btnProfil btn-primary", id="btn-modif-maison">Modifier la maison</a>
          <a href="<%= delete_house_path(house) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="btn btn-danger">Supprimer la maison</a>
        </div>
      <% end %>
      <p></p>
      <a href="<%= new_house_path %>" class="btnProfil btn-success">Ajouter une maison</a>
    </div>

    <div class="columnProfil">
      <p>Mes Réservations :</p>
      <% current_user.bookings.each do |booking| %>
        <div class="booking-cell">
          <% if booking.house.photo.attached? %>
            <%= cl_image_tag booking.house.photo.key, alt: 'Maison des horreurs', class: 'property-image' %>
          <% else %>
            <%= image_tag("fantome.png") %>
          <% end %>
          <p><h3><%= booking.house.name %></h3></p>
          <p>Date: <%= booking.date %></p>
          <p>Propriétaire: <%="#{booking.house.owner.first_name} #{booking.house.owner.last_name}" %></p>
          <p>Téléphone: <%= "#{booking.house.owner.phone_number}" %></p>
          <p></p>
          <a href="<%= edit_booking_path(booking) %>" class="btnProfil btn-primary", id="btn-modif-resa">Modifier une réservation</a>
          <a href="<%= delete_booking_path(booking) %>" data-turbo-method="delete" data-turbo-confirm="Are you sure?" class="btn btn-danger">Supprimer la réservation</a>
</div>
<% end %>
</div>

  </div>
</div>
