<!DOCTYPE html>
<html lang="fr">
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<html>

<head>
    <title>Nightmare Holidays</title>
    <%= favicon_link_tag 'nh icon.png' %>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>

  <header>
  <nav>
    <div class="navbar-left">
      <%= link_to root_path do %>
        <%= image_tag "nh icon.png", alt: "Accueil", class: "navbar-logo" %>
      <% end %>
    </div>
    <div class="navbar-center">
      <h1>Nightmare Holidays</h1>
    </div>
    <div class="navbar-right">

    <% if current_user %>
      <%= link_to "<button class='btn btn-secondary'>Profil</button>".html_safe, profil_path(current_user[:id]) %>
      <%= link_to "<button class='btn btn-secondary'>Log out</button>".html_safe, destroy_user_session_path, data: {turbo_method: :delete} %>
   <% end %>

    <% if !current_user %>
      <%= link_to "<button class='btn btn-secondary'>S'identifier</button>".html_safe, new_user_session_path %>
      <%= link_to "<button class='btn btn-secondary'>Inscription</button>".html_safe, new_user_registration_path %>
    <% end %>

    </div>
  </nav>
    <%= yield %>
  <footer>
    <div class="footer-left">
      <p>© 2023 Nightmare Holidays</p>
    </div>
    <div class="footer-right">
      <%= link_to "Accueil", root_path %>
      <%= link_to "Support", "#" %>
      <%= link_to "Disclaimer", "#" %>

    </div>
  </footer>
</body>
</html>
<% console %>
